@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  font-family: 'Poppins',sans-serif;
  line-height: 1.8rem;
  font-size:1.2rem;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px rgb(128, 126, 126);
  border-bottom: solid gray !important;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9) !important; /* Background color for the navbar */
  padding: 1.2px 0; /* Adjust padding as needed */
  z-index: 1000;
}

.nav-link{
  font-weight: 400 !important;
}

.active{
  border-bottom: 2px solid black;
}

.navbar-brand{
  font-weight: 700;
  font-family: "roboto",sans-serif;
  letter-spacing: 2px;
}

/* footer styles */
.footer{
  height: "100%";
  background-color: rgb(89, 86, 86) !important;
}

@media screen and (max-width: 310px) {
  .footer p{
    font-size: 0.86rem;
  }
  .footer h4{
    font-size: 1rem;
  }
}


.footer a{
  text-decoration: none;
  color: white;
  padding: 0.6rem;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 2px solid #ffefba;
}

/* pagenotfound */
.pagenotfound{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.pagenotfound a{
  border: 1px solid black;
  border-radius: 8px;
  text-decoration: none;
  padding: 0.6rem;
  margin-top: 0.8rem;
  color:  black;
  
}
.pagenotfound a:hover{
  background-color: black;
  color: white;
}

.developer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* box-shadow: 0.28rem 0.1rem rgb(69, 65, 65); */
  box-shadow: 1rem 1rem 1rem -0.6rem rgb(128, 126, 126);
}


/* register page */
.register{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(159, 183, 183);
}

.register form{
  background-color: rgb(228, 215, 198);
  padding: 2.6rem;
  margin-top: 1rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.register h1{
  text-transform: uppercase;
  font-family: "Poppins",sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 310px) {
  .register form{
    padding: 1.6rem;
  }
}

@media screen and (max-width: 380px) {
  .details h3{
    font-size: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .catform{
    width: 100% !important;
  }
}


